<ion-header>
  <ion-toolbar color="light">
    <ion-back-button slot="start" icon="home"></ion-back-button>
    <ion-title>Cold Countries You Should Visit</ion-title>
  </ion-toolbar>
</ion-header>


<!--inside ion-content you have all the country descriptions and images-->

<ion-content>

  <ul></ul>
  <ul></ul>
  <ion-toolbar color="primary">
    <ion-title>ICELAND</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://www.crwflags.com/fotw/images/i/is.gif">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>a Nordic island nation</p>
      <p>Massive glaciers </p>
        <p>home to the National</p>
        <p>and Saga museums</p>
        <h4>WEATHER</h4>
      <p>average temperature around the</p>
      <p>freezing point. This means that</p>
      <p>the temperatures can</p>
      <p>exceed 0 °C (32 °F)</p>
    </ion-label>
  </ion-item>
  <img width="300" height="150" src="https://www.crwflags.com/fotw/images/i/is.gif">

  <ul></ul>
  <ul></ul>
  <ion-toolbar color="secondary">
    <ion-title>NORWAY</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-avatar slot="start">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQcAAAC/CAMAAADEm+k5AAAAQlBMVEXvKy0AKGj///8AEF+0uMfvHSD1jo8AB10AGGHO0NqPlq3vISTzdHX4tbXuFhkAH2Tzb3DuAAD3ra760dH0iYplb5J+MlUeAAABsElEQVR4nO3byUpDQRBA0WecYtTEIf7/ryqchS4iGKhAgvesG6q5y25qWUY8Pq2+PdxfHbLe/DjzvJ0ZfGbqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdeDyO9yO2L4c2+F1ZvCU5W7E/u3IDu/7mcFTltW8v3Q4N3WgDtSBOlAH6kAdqAN1oA4sN/M264Mddh8nmDVluZ53OMNXiBPMmrL8cuf/pg7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAHeq+m/wv6z6IO1IE6UAfqQB2oA3WgDtSB9i9oH4eh7abL38+aUQfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDF9/hE5HYt34mxxWfAAAAAElFTkSuQmCC">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>Scandinavian country</p>
      <p>Oslo, the capital</p>
        <p>Viking Ship Museum</p>
        <h4>WEATHER</h4>
        <p>Winters, rainy with little</p>
        <p>snow or frost</p>
      </ion-label>
  </ion-item>
  <img width="300" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQcAAAC/CAMAAADEm+k5AAAAQlBMVEXvKy0AKGj///8AEF+0uMfvHSD1jo8AB10AGGHO0NqPlq3vISTzdHX4tbXuFhkAH2Tzb3DuAAD3ra760dH0iYplb5J+MlUeAAABsElEQVR4nO3byUpDQRBA0WecYtTEIf7/ryqchS4iGKhAgvesG6q5y25qWUY8Pq2+PdxfHbLe/DjzvJ0ZfGbqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdeDyO9yO2L4c2+F1ZvCU5W7E/u3IDu/7mcFTltW8v3Q4N3WgDtSBOlAH6kAdqAN1oA4sN/M264Mddh8nmDVluZ53OMNXiBPMmrL8cuf/pg7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAHeq+m/wv6z6IO1IE6UAfqQB2oA3WgDtSB9i9oH4eh7abL38+aUQfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDdaAO1IE6UAfqQB2oA3WgDtSBOlAH6kAdqAN1oA7UgTpQB+pAHagDF9/hE5HYt34mxxWfAAAAAElFTkSuQmCC">

  <ul></ul>
  <ul></ul>
  <ion-toolbar color="tertiary">
    <ion-title>ALASKA</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Flag_of_Alaska.svg">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>Alaska is a state located</p>
       <p>in the northwest extremity of</p>
       <p>the United States</p>
      <h4>WEATHER</h4>
        <p>average summer temperatures</p>
      <p>ranging from 40°F to 60°F</p>
      <p> Winter temperatures in Alaska</p>
      <p>range from 0°F / 18°C</p>
      <p>to -30°F / -35°C</p>
      </ion-label>
  </ion-item>
  <img width="300" height="150" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Flag_of_Alaska.svg">

</ion-content>
