<ion-header>
  <ion-toolbar color="light">
    <ion-back-button slot="start" icon="home"></ion-back-button>
    <ion-title>Types Of Clouds</ion-title>
  </ion-toolbar>
</ion-header>

<!--The below code here has all the cloud names and descriptions and images-->
<ion-content>
  <ul></ul>
  <ul></ul>
  <ion-toolbar color="tertiary">
    <h3>High Level Clouds</h3>
  </ion-toolbar>
  <ion-toolbar color="success">
  <h3>cirrocumulus cloud</h3>
  </ion-toolbar>
  <img width="300" height="150" src="https://media.sciencephoto.com/c0/03/06/15/c0030615-800px-wm.jpg">
  <ion-toolbar color="success">
    <h3>cirrus cloud</h3>
    </ion-toolbar>
    <img width="300" height="150" src="https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cirrus-hooks.jpg">
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://media.sciencephoto.com/c0/03/06/15/c0030615-800px-wm.jpg">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>These can be found at </p>
      <p>around 5km-13km above </p>
      <p>ground level.</p>
        <h4>WEATHER</h4>
        <p>High level clouds are formed</p>
        <p>from ice crystals as they</p>
        <p>are very high up where it is</p>
        <p>cold</p>
      </ion-label>
  </ion-item>

  
  <ul></ul>
  <ul></ul>
  <ion-toolbar color="tertiary">
    <h3>Mid Level Clouds</h3>
  </ion-toolbar>
  <ion-toolbar color="primary">
  <h3>altocumulus cloud</h3>
  </ion-toolbar>
  <img width="300" height="150" src="https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altocumulus.jpg">
  <ion-toolbar color="primary">
    <h3>altostratus cloud</h3>
    </ion-toolbar>
    <img width="300" height="150" src="https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altostratus-best-photo.jpg">
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altostratus-best-photo.jpg">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>These can be found at around</p>
      <p>2km-7km above ground level.</p>
        <h4>WEATHER</h4>
        <p>Mid level clouds mean humidity</p>
        <p>during the summer and can</p>
        <p>mean there will be thunderstorms</p>
        <p>in the evening</p>
      </ion-label>
  </ion-item>


  <ul></ul>
  <ul></ul>
  <ion-toolbar color="tertiary">
    <h3>Low Level Clouds</h3>
  </ion-toolbar>
  <ion-toolbar color="danger">
  <h3>stratus cloud</h3>
  </ion-toolbar>
  <img width="300" height="150" src="https://media.sciencephoto.com/e1/20/06/12/e1200612-800px-wm.jpg">
  <ion-toolbar color="danger">
    <h3>cumulus cloud</h3>
    </ion-toolbar>
    <img width="300" height="150" src="https://i.stack.imgur.com/cyKsR.jpg">
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://i.stack.imgur.com/cyKsR.jpg">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>These can be found at</p>
      <p>around 0km-2km above</p>
      <p>ground level.</p>
        <h4>WEATHER</h4>
        <p>Low level clouds usually</p>
        <p>result in fog, rain</p>
        <p>or possibly snow</p>
      </ion-label>
  </ion-item>

</ion-content>
