<ion-header>
  <ion-toolbar color="light">
    <ion-back-button slot="start" icon="home"></ion-back-button>
    <ion-title>Sunny Countries You Should Visit</ion-title>
  </ion-toolbar>
</ion-header>

<!--inside ion-content you have all the country descriptions and images-->
<ion-content>
  <ul></ul>
  <ul></ul>
  <ion-toolbar color="primary">
    <ion-title>SPAIN</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://external-preview.redd.it/sgupg2QyvwFm7eLaH0isYTSx1IAYT2cnG9EG2qaK7dc.png?auto=webp&s=c2fe73665a3b109d9a040fb4f70fcba4e2875149">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>Spain, a country in Europe</p>
      <p>Capital city Madrid </p>
        <p>Catalonia’s capital, Barcelona</p>
        <h4>WEATHER</h4>
      <p>temperatures of 20-30 degrees </p>
    </ion-label>
    
  </ion-item>
  <img width="300" height="150" src="https://external-preview.redd.it/sgupg2QyvwFm7eLaH0isYTSx1IAYT2cnG9EG2qaK7dc.png?auto=webp&s=c2fe73665a3b109d9a040fb4f70fcba4e2875149">

  <ul></ul>
  <ul></ul>
  <ion-toolbar color="secondary">
    <ion-title>GREECE</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/1200px-Flag_of_Greece.svg.png">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>Greece is in </p>
      <p>southeastern Europe</p>
      <p>often called the cradle of</p>
      <p>Western civilization.</p>
        <p>Athens, its capital</p>
        <h4>WEATHER</h4>
        <p>warm mediterrinian climate </p>
      </ion-label>
  </ion-item>
  <img width="300" height="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Greece.svg/1200px-Flag_of_Greece.svg.png">

  <ul></ul>
  <ul></ul>
  <ion-toolbar color="tertiary">
    <ion-title>PORTUGAL</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg">
    </ion-avatar>
    <ion-label>
      <h4>ABOUT</h4>
      <p>southern European country </p>
      <p>Its location on the Atlantic</p>
      <p>Ocean has influenced many</p>
      <p>aspects of its culture</p>
        <p>beaches are a major destination </p>
        <h4>WEATHER</h4>
        <p>Portugal and Spain have the </p>
        <p>same climate</p>
        <p>perfect summer destination</p>
      </ion-label>
  </ion-item>
  <img width="300" height="150" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg">
</ion-content>
