<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title color="primary">
      Home Page 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  

  
 <!--Buttons and links to all pages-->
  <ion-button expand="block" [routerLink]="['/clouds']">CLOUDS</ion-button>
  <ion-button expand="block" [routerLink]="['/warmcountries']">Warm Countries</ion-button>
  <ion-button expand="block" [routerLink]="['/coldcountries']">Cold Countries</ion-button>
  <ion-button expand="block" [routerLink]="['/todaysweather']">Todays Weather</ion-button>
  


</ion-content>
